@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --navyBlue: #0D1B3E;
  --gold: #D4AF37;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body, p {
  font-family: "Poppins Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Medium", sans-serif;
}


@font-face {
  font-family: "Poppins ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Poppins-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Poppins-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Poppins Light";
  font-weight: 300;
  src: url("../src/fonts/Poppins-Light.woff2") format(woff2),
      url("../src/fonts/Poppins-Light.woff") format(woff);
}

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("../src/fonts/Poppins-Regular.woff2") format(woff2),
      url("../src/fonts/Poppins-Regular.woff") format(woff);
}

@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  src: url("../src/fonts/Poppins-Medium.woff2") format(woff2),
      url("../src/fonts/Poppins-Medium.woff") format(woff);
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("../src/fonts/Poppins-Bold.woff2") format(woff2),
      url("../src/fonts/Poppins-Bold.woff") format(woff);
}

.logo img {
  @apply w-[90px] lg:w-[100px];
}


/* BACK TO TOP */
#backToTop {
  @apply hidden fixed bottom-[20px] right-[30px] bg-gold text-white border-none rounded-[5px] cursor-pointer z-[100];
}

/* APPLY NIOW */
/* From Uiverse.io by shah1345 */ 
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--primaryGreen);
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  background: var(--goldYellow);
  border: 1px solid var(--goldYellow);
  
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--primaryGreen);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ENROLLMENT BUTTON */
/* From Uiverse.io by Randdose */ 
.enroll-button {
  padding: 12.5px 30px;
  border: 0;
  background-color: var(--goldYellow);
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.enroll-button:hover {
  background-color: var(--brickBrown);
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.enroll-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* HOME ABOUT BACKGROUND  */
.fivePillars {
  background-color: #223159;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.09'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}


.foundation-principle{
background-color: #ecedf2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.09'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* ACADEMICS */
.about-page {
background-color: #f4f4f4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}














/* HOME ABOUT BUTTON */
/* From Uiverse.io by cssbuttons-io */ 
.home-about-button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.home-about-button:hover {
  background-color: var(--primarycolor);
  box-shadow: 0px 15px 20px rgba(85, 87, 244, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.home-about-button:active {
  transform: translateY(-1px);
}

/* OUR TEAM */
  .modal { display: none; }
  .modal:target { display: flex; }

/* OOUR TEAM BACKGROUND */

.team {
  background-color: #c1d0ec;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239295ac' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* SERVICES BACKGROUND */

.services {
 background-color: #f4f6f9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239295ac' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.sdc {
  background-color: #f8f8f8;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.04'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}




 /* READ MORE BUTTON */ 
.read-more button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--orange);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .read-more button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .read-more button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .read-more button:hover span {
  padding-right: 15px;
 }
 
 .read-more button:hover span:after {
  opacity: 1;
  right: 0;
 }
 
 

/* SERVICES SECTION */
/* From Uiverse.io by vikiWayne */ 
.sharedButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1000ms;
  font-size: 15px;
  color: white;
  position: relative;
  overflow: hidden;
  outline: 2px solid white;
}

.sharedButton:hover {
  transform: scale(1.1);
  outline: 2px solid var(--blue);
  box-shadow: 4px 5px 17px -4px var(--blue);
}

.sharedButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.sharedButton:hover::before {
  width: 250%;
}

.services-button {
  color: white;
  outline: 2px solid white;
}

.web-button {
  color: white;
  outline: 2px solid white;
}
.web-button::before {
  background-color: var(--purple);
}
.web-button:hover {
  outline: 2px solid var(--purple);
  box-shadow: 4px 5px 17px -4px var(--purple);
}
