@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #08265a;
  --green: #07522c;
  --black: #000;
  --red: #ff0000; 
  --purple: #5f0033;
  --orange: #bf8e00;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body, p {
  font-family: "Poppins Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Medium", sans-serif;
}


@font-face {
  font-family: "Poppins ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Poppins-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Poppins-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Poppins Light";
  font-weight: 300;
  src: url("../src/fonts/Poppins-Light.woff2") format(woff2),
      url("../src/fonts/Poppins-Light.woff") format(woff);
}

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("../src/fonts/Poppins-Regular.woff2") format(woff2),
      url("../src/fonts/Poppins-Regular.woff") format(woff);
}

@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  src: url("../src/fonts/Poppins-Medium.woff2") format(woff2),
      url("../src/fonts/Poppins-Medium.woff") format(woff);
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("../src/fonts/Poppins-Bold.woff2") format(woff2),
      url("../src/fonts/Poppins-Bold.woff") format(woff);
}

.logo img {
  @apply w-[110px];
  aspect-ratio: 100 / 100;
}

.home-carousel-cell {
  @apply w-full h-[550px];
} 

#homeCarousel .flickity-page-dots {
  @apply pb-10;
} 

#homeCarousel .flickity-page-dot.is-selected {
 @apply bg-blue;
}

#homeCarousel .flickity-page-dot {
@apply bg-white;
}

/* TOP SECTION */
.social-icons img{
  @apply w-[20px] h-[20px]
}

/* TOP BOOKIMNG BUTTON */
/* From Uiverse.io by ernestnash */ 
.btn {
  display: inline-block;
  padding: 0.5rem 1.6rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }

/* QUOTE BUTTON */
.quote-button button {
  padding: 16px;
  border: 2px solid var(--purple);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  color: var(--purple);
 }
 
 .quote-button button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--purple);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .quote-button button:hover::before {
  width: 105%;
 }
 
 .quote-button button:hover {
  color: #fff;
 }

 /* READ MORE BUTTON */ 
.read-more button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--orange);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .read-more button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .read-more button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .read-more button:hover span {
  padding-right: 15px;
 }
 
 .read-more button:hover span:after {
  opacity: 1;
  right: 0;
 }
 
 

/* SERVICES SECTION */
/* From Uiverse.io by vikiWayne */ 
.sharedButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1000ms;
  font-size: 15px;
  color: white;
  position: relative;
  overflow: hidden;
  outline: 2px solid white;
}

.sharedButton:hover {
  transform: scale(1.1);
  outline: 2px solid var(--blue);
  box-shadow: 4px 5px 17px -4px var(--blue);
}

.sharedButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.sharedButton:hover::before {
  width: 250%;
}

.services-button {
  color: white;
  outline: 2px solid white;
}

.web-button {
  color: white;
  outline: 2px solid white;
}
.web-button::before {
  background-color: var(--purple);
}
.web-button:hover {
  outline: 2px solid var(--purple);
  box-shadow: 4px 5px 17px -4px var(--purple);
}

/* ABOUT SECTION */
/* From Uiverse.io by adamgiebl */ 
.about-btn {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: var(--purple);
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.about-btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 2px solid var(--purple);
}

.about-btn span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.about-btn:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: var(--purple);
}

.about-btn:hover {
  color: white;
}

.about-btn:active span::before {
  background: var(--purple);
}


/* FLICKITY GALLERY SECTION */
.carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell  img {
  @apply w-full sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover;
}





 

